.card {
    background-color: white;

    padding: 32px 24px;
    margin: 32px auto;
    
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .6);
    border-radius: 4px;
    
    width: 90%;
}

.card-header h3 {
    font-size:  14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    font-weight: bold;
    color: var(--primary-color);

    margin-bottom: 16px;
}

.cart-empty  {
    text-align: center;
}

.cart-empty p {
    font-size: 18px;
}

.cart-empty .button {
    width: 220px;
    margin: 16px auto;
    transition: 400ms;
}

.cart-empty .button:hover {
    width: 260px;
}

/* menu */
header div.container {
    grid-template-columns: 220px auto 315px;
    grid-gap: 8px;
}

li.cart a {
    position: relative;
}

li.cart a span {
    background-color: red;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    font-size: 12px;
    font-weight: bold;

    position: absolute;
    top: 12px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 400ms
}

li.cart a span:hover {
    background-color: white;
    color: black;
}